1. Setup and Data Loading

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
# Load cleaned data
df = pd.read_csv("/Users/rasheedmehrinfar/Desktop/springboard/capstone-two/Data/cleaned_co2_data.csv")

In [4]:
# Basic info
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7310 entries, 0 to 7309
Data columns (total 68 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   country                                    7310 non-null   object
 1   iso_code                                   7310 non-null   object
 2   year                                       7310 non-null   int64
 3   population                                 7242 non-null   float64
 4   gdp                                        5576 non-null   float64
 5   cement_co2                                 7014 non-null   float64
 6   cement_co2_per_capita                      6980 non-null   float64
 7   co2                                        7293 non-null   float64
 8   co2_growth_abs                             7280 non-null   float64
 9   co2_growth_prct                            7247 non-null   float64
 10  co2_including_luc                          6583 non-null   float64
 11  co2_including_luc_growth_abs               6574 non-null   float64
 12  co2_including_luc_growth_prct              6574 non-null   float64
 13  co2_including_luc_per_capita               6583 non-null   float64
 14  co2_including_luc_per_gdp                  5507 non-null   float64
 15  co2_per_capita                             7229 non-null   float64
 16  co2_per_gdp                                5575 non-null   float64
 17  co2_per_unit_energy                        6830 non-null   float64
 18  coal_co2                                   4900 non-null   float64
 19  coal_co2_per_capita                        4900 non-null   float64
 20  cumulative_cement_co2                      7014 non-null   float64
 21  cumulative_co2                             7293 non-null   float64
 22  cumulative_co2_including_luc               6583 non-null   float64
 23  cumulative_coal_co2                        4900 non-null   float64
 24  cumulative_flaring_co2                     6814 non-null   float64
 25  cumulative_gas_co2                         4233 non-null   float64
 26  cumulative_luc_co2                         6596 non-null   float64
 27  cumulative_oil_co2                         7255 non-null   float64
 28  energy_per_capita                          6846 non-null   float64
 29  flaring_co2                                6814 non-null   float64
 30  flaring_co2_per_capita                     6754 non-null   float64
 31  gas_co2                                    4233 non-null   float64
 32  gas_co2_per_capita                         4233 non-null   float64
 33  ghg_excluding_lucf_per_capita              6630 non-null   float64
 34  ghg_per_capita                             6664 non-null   float64
 35  land_use_change_co2                        6596 non-null   float64
 36  land_use_change_co2_per_capita             6596 non-null   float64
 37  methane                                    6664 non-null   float64
 38  methane_per_capita                         6664 non-null   float64
 39  nitrous_oxide                              6834 non-null   float64
 40  nitrous_oxide_per_capita                   6834 non-null   float64
 41  oil_co2                                    7255 non-null   float64
 42  oil_co2_per_capita                         7221 non-null   float64
 43  primary_energy_consumption                 6880 non-null   float64
 44  share_global_cement_co2                    7014 non-null   float64
 45  share_global_co2                           7293 non-null   float64
 46  share_global_co2_including_luc             6583 non-null   float64
 47  share_global_coal_co2                      4900 non-null   float64
 48  share_global_cumulative_cement_co2         7014 non-null   float64
 49  share_global_cumulative_co2                7293 non-null   float64
 50  share_global_cumulative_co2_including_luc  6583 non-null   float64
 51  share_global_cumulative_coal_co2           4900 non-null   float64
 52  share_global_cumulative_flaring_co2        6814 non-null   float64
 53  share_global_cumulative_gas_co2            4233 non-null   float64
 54  share_global_cumulative_luc_co2            6596 non-null   float64
 55  share_global_cumulative_oil_co2            7255 non-null   float64
 56  share_global_flaring_co2                   6814 non-null   float64
 57  share_global_gas_co2                       4233 non-null   float64
 58  share_global_luc_co2                       6596 non-null   float64
 59  share_global_oil_co2                       7255 non-null   float64
 60  share_of_temperature_change_from_ghg       7310 non-null   float64
 61  temperature_change_from_ch4                6834 non-null   float64
 62  temperature_change_from_co2                7310 non-null   float64
 63  temperature_change_from_ghg                7310 non-null   float64
 64  temperature_change_from_n2o                6834 non-null   float64
 65  total_ghg                                  6664 non-null   float64
 66  total_ghg_excluding_lucf                   6630 non-null   float64
 67  co2_change                                 7031 non-null   float64
dtypes: float64(65), int64(1), object(2)
memory usage: 3.8+ MB

,country,iso_code,year,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_luc_co2,share_global_oil_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,co2_change
0,Afghanistan,AFG,1990,12045664.0,1.306598e+10,0.046,0.004,2.024,-0.741,-26.784,...,0.003,0.014,0.094,0.0,0.0,0.001,0.0,13.892,4.218,NaN
1,Afghanistan,AFG,1991,12238879.0,1.204736e+10,0.046,0.004,1.914,-0.110,-5.435,...,0.000,0.012,0.092,0.0,0.0,0.001,0.0,14.178,4.207,-0.054348
2,Afghanistan,AFG,1992,13278982.0,1.267754e+10,0.046,0.003,1.482,-0.432,-22.580,...,-0.032,0.011,0.090,0.0,0.0,0.001,0.0,12.514,3.853,-0.225705
3,Afghanistan,AFG,1993,14943174.0,9.834582e+09,0.047,0.003,1.487,0.005,0.330,...,-0.082,0.011,0.089,0.0,0.0,0.001,0.0,11.804,4.021,0.003374
4,Afghanistan,AFG,1994,16250799.0,7.919857e+09,0.047,0.003,1.454,-0.033,-2.227,...,-0.059,0.011,0.087,0.0,0.0,0.001,0.0,12.282,4.159,-0.022192

2. Univariate Analysis

#### 2.1 Numerical Variables

In [7]:
# Summary statistics
df.describe()

,year,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,...,share_global_luc_co2,share_global_oil_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,co2_change
count,7310.00000,7.242000e+03,5.576000e+03,7014.000000,6980.000000,7293.000000,7280.000000,7247.000000,6583.000000,6574.000000,...,6596.000000,7255.000000,7310.000000,6834.000000,7310.000000,7310.000000,6834.000000,6664.000000,6630.000000,7031.000000
mean,2006.50000,3.155297e+07,4.982157e+11,5.214489,0.105929,136.446164,2.038505,3.319407,179.962106,1.943339,...,0.598817,0.429738,0.465102,0.001693,0.004090,0.006028,0.000253,234.514120,181.717367,inf
std,9.81138,1.255509e+08,1.745787e+12,38.554671,0.157989,665.474372,32.420111,30.823591,726.006453,55.229175,...,2.790927,1.743487,1.654669,0.005075,0.016601,0.021690,0.000979,873.170814,796.161823,NaN
min,1990.00000,1.776000e+03,2.571720e+08,0.000000,0.000000,0.000000,-547.517000,-100.000000,-30.588000,-1506.735000,...,-8.182000,0.000000,0.000000,-0.001000,0.000000,0.000000,0.000000,-0.065000,0.004000,-1.000000
25%,1998.00000,7.532850e+05,1.928888e+10,0.000000,0.000000,0.806000,-0.103250,-2.426500,4.663500,-1.792750,...,-0.001000,0.006000,0.010000,0.000000,0.000000,0.000000,0.000000,9.119500,3.717750,-0.022996
50%,2006.50000,5.647936e+06,6.245486e+10,0.330500,0.046000,7.015000,0.018000,1.800000,26.335000,0.003000,...,0.031000,0.037000,0.084000,0.000000,0.001000,0.001000,0.000000,45.837500,18.453500,0.018103
75%,2015.00000,2.026332e+07,2.970578e+11,1.759750,0.150000,53.952000,0.682250,6.780000,81.277500,1.926000,...,0.306000,0.219000,0.268000,0.001000,0.002000,0.003000,0.000000,123.385500,81.272000,0.067522
max,2023.00000,1.438070e+09,2.696602e+13,849.976000,1.413000,11902.503000,911.756000,1556.108000,11605.929000,1785.768000,...,46.172000,24.222000,20.842000,0.064000,0.241000,0.288000,0.011000,13968.915000,13579.422000,inf

In [ ]:
# Step 1: Select only numeric columns
numeric_df = df.select_dtypes(include=[np.number])

# Step 2: Replace inf values with NaN
numeric_df = numeric_df.replace([np.inf, -np.inf], np.nan)

# Step 3: Drop columns that are all NaNs or constant
numeric_df = numeric_df.dropna(axis=1, how='all')  # drop all-NaN columns
numeric_df = numeric_df.loc[:, numeric_df.nunique(dropna=True) > 1]  # drop constant columns

# Step 4: Plot in batches
def plot_histograms(df, cols, batch_size=6):
    for i in range(0, len(cols), batch_size):
        subset = cols[i:i+batch_size]
        df[subset].hist(figsize=(18, 10), bins=30, edgecolor='black')
        plt.suptitle(f"Histograms: {', '.join(subset)}", fontsize=16)
        plt.tight_layout()
        plt.show()

# Step 5: Run it on cleaned numeric data
plot_histograms(numeric_df, numeric_df.columns.tolist())

Histograms show the frequency distribution (how values are spread out) and for time series modeling, we want to know information such as is GDP right-skewed? Is CO₂ growth mostly flat or heavy-tailed? Are any features mostly 0s or constants?

The reason we choose all numerics is that we don't yet know which variables are informative — so we start wide. Histograms help eliminate irrelevant features quickly.

#### 2.2 Categorical Variables

In [ ]:
# Count of countries
print("Number of countries:", df['country'].nunique())
df['country'].value_counts().head(10).plot(kind='barh')
plt.title("Top 10 Countries by Data Count")
plt.show()

We want to confirm that you have broad country representation and spot imbalance (some countries may have far more years of data than others)

Choosing the top 10 country bar plot helps visualize dominant entities in our dataset

3. Bivariate Analysis

#### 3.1 Correlation Matrix

In [ ]:
# Correlation matrix
plt.figure(figsize=(12, 10))
sns.heatmap(df.corr(numeric_only=True), cmap='coolwarm', center=0, annot=False)
plt.title("Correlation Matrix (Numeric Features)")
plt.show()

A heatmap gives us a fast overview of linear relationships and highlights potential multicollinearity (e.g. GDP vs energy vs population)

Helps with feature selection by eliminating strongly correlated pairs or engineering new composite features

#### 3.2 Scatter Plots

In [ ]:
# CO2 vs GDP
sns.scatterplot(data=df, x='gdp', y='co2', hue='country', legend=False)
plt.title("CO2 Emissions vs GDP")
plt.xscale('log')
plt.yscale('log')
plt.show()

If gdp and co2 show a log-linear relationship, that’s critical for regression forecasting.

In [ ]:
# CO2 per capita vs energy per capita
sns.scatterplot(data=df, x='energy_per_capita', y='co2_per_capita', hue='country', legend=False)
plt.title("CO2 per Capita vs Energy per Capita")
plt.show()

co2_per_capita vs energy_per_capita gives a per-person impact view, helpful for policy implications.

### 4. Time Series Exploration

In [ ]:
# Example country time series
top_country = df['country'].value_counts().idxmax()
df_country = df[df['country'] == top_country]

plt.plot(df_country['year'], df_country['co2'], label='CO2 Emissions')
plt.plot(df_country['year'], df_country['gdp'], label='GDP')
plt.title(f"Time Series for {top_country}")
plt.xlabel("Year")
plt.legend()
plt.show()

You’re forecasting emissions to understand temporal patterns

Plotting co2 and gdp together helps test if GDP growth explains emission trends

We chose a country with the most data (value_counts().idxmax()) to ensure we have a rich time series

### 5. Feature Selection Ideas

In [ ]:
# Check for multicollinearity
from pandas.plotting import scatter_matrix
scatter_matrix(df[['co2', 'gdp', 'population', 'energy_per_capita']], figsize=(12, 12))
plt.show()

# Check top correlations with CO2
correlations = df.corr(numeric_only=True)['co2'].sort_values(ascending=False)
print(correlations.head(10))

We do this as helps avoid overfitting later and suggests where you might engineer features (such as CO₂ intensity = co2/gdp)

### 6. Hypotheses & Observations

- Countries with higher GDP and energy consumption tend to have higher CO2 emissions.
- Some countries appear to have rapidly rising emissions over time.
- CO2 per capita may be more informative for policy impact analysis than absolute CO2.
- Energy use and GDP could be candidate predictors for future emission modeling.
- We could consider filtering for a subset of countries or regions for further modeling.